@import 'normalize.css';

* {
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

a{
    color: #333;
    text-decoration: none;
}

.header{
    background: #A80000;
    height: 86px;
    padding: 20px 0px;
    border-bottom: 3px solid #8e0000;
    border-top: 3px solid #8e0000;
}


.search-container{
    width: 400px;
    margin: 0px auto;
}

.search{
    background: url('../images/bt-search.png') no-repeat #fff 10px 10px;
    box-shadow: inset 0 1px 0 0 #bababa;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 30px;
    font-size: 14px;
}

.suggestion{
    opacity: 0;
    max-height: 0;
    transition: all 0.2s linear;
    box-shadow: 0 0 5px 4px rgba(000,000,000,0.3);
    position: relative;
    border-radius: 3px;
    display: none;
    background: #fff;
    width: 100%;
    margin-top: 14px;
    padding: 10px;
}

.suggestion:before{
    content: "";
    position: absolute;
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    left: 185px;
    top: -15px;
}

.highligh-list, .suggestion-list{
    display: inline-block;
    width: 100%;
    clear: both;
}

.result-text{
    float: left;
    padding: 10px 0px 0px 0px;
}

.highlight-image{
    float: left;
}

.text-suggestion{
    padding-top: 10px;
    font-size: 12px;
    color: #666;
}

.busque-g1{
    padding: 10px 0px 10px;
}

.open{
    opacity: 1;
    display: block;
    max-height: 15000px;
}


